<div class="app-themes no-border">
  <span>Sport</span>

  <mat-form-field>
    <mat-select
      [(ngModel)]="selectedSport"
      (selectionChange)="setSelectedSport(selectedSport)"
    >
      <mat-option *ngFor="let sport of sportTypes" [value]="sport">
        <img
          [src]="'../../../assets/sport-icon/' + sport.toLowerCase() + '.svg'"
          class="sport-icon"
        />

        {{ sport }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <span>Unit</span>

  <mat-form-field>
    <mat-select
      [(ngModel)]="selectedUnit"
      (selectionChange)="setSelectedUnit(selectedUnit)"
    >
      <mat-option *ngFor="let unit of unitOptions" [value]="unit">{{
        unit
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="app-themes">
  <span style="margin-top: -2.5rem">Select a theme:</span>

  <div
    class="app-themes-list"
    *ngFor="let theme of getThemesAsArray(); let i = index"
  >
    <app-theme-preview [colorSpectrum]="previewColors[i]"></app-theme-preview>
    <label>
      <input
        type="radio"
        [value]="theme[1]"
        [checked]="theme[1] === selectedTheme"
        (change)="setSelectTheme(theme[1])"
        class="app-radio"
        [name]="'themeGroup'"
      />

      {{ theme[0] }}
    </label>
  </div>
</div>
