<div class="app-themes">
  <h6>
    <span>Select a theme:</span>
  </h6>
  <div
    class="app-themes-list"
    *ngFor="let theme of getThemesAsArray(); let i = index"
  >
    <label>
      <input
        type="radio"
        [value]="theme[1]"
        [checked]="i === selectedThemeIndex"
        (change)="selectOption(i)"
      />

      {{ theme[0] }}
    </label>
  </div>
</div>

<mat-form-field>
  <mat-label>Select sport</mat-label>
  <mat-select
    [(ngModel)]="selectedSport"
    disableOptionCentering
    panelClass="customClass"
    multiple
  >
    <mat-option *ngFor="let sport of sportTypes" [value]="sport">{{
      sport
    }}</mat-option>
  </mat-select>
</mat-form-field>
