<footer>
  <div class="app-powered">
    <p style="margin: 12px 6px">Hosted by</p>
    <img src="../../../assets/vercel.svg" />
  </div>
  <div class="app-powered">
    <img
      src="../../../assets/1.2 strava api logos/powered by Strava/pwrdBy_strava_light/api_logo_pwrdBy_strava_horiz_light.svg"
    />
  </div>
  <!-- Ref: https://buttons.github.io/ -->
  <!-- <a
    class="github-button"
    href="https://github.com/buttons/github-buttons"
    data-size="large"
    data-show-count="true"
    aria-label="Star buttons/github-buttons on GitHub"
    >Star</a
  > -->
  <app-github-button></app-github-button>
</footer>
