.app-powered {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1rem 0rem;
  font-size: 12px;
  }
  
  .app-powered img {
    
    width: auto;
    height: 1.8rem;
  }

  .app-powered p {
    margin: 12px 6px
  }

  .app-footer {
    margin: 2rem 0;
  }