.gradient-button {
    min-height: 2.8rem;
    min-width: 6.8rem;
    font-family: 'IBM Plex Mono';
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to right, #fc4c02, #ff8c3a);
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background 0.3s ease; /* Add a smooth transition effect */
  }
  
  .gradient-button:hover {
    background: linear-gradient(to right, #ff8c3a, #fc4c02);
  }