<div class="container">
  <div class="app-header">
    <div class="app-logo">
      <img src="../../../assets/logo.png" />
      <h1>Strava Calendar Generator</h1>
      <h4>All your remarkable workout in one image!</h4>
    </div>

    <app-strava-connect-button *ngIf="!isUidValid"></app-strava-connect-button>
    <app-generate-button
      (onGenerateEvent)="onGenerate($event)"
      *ngIf="isUidValid"
    ></app-generate-button>
    <app-themes (themeChangeEvent)="onThemeChange($event)"></app-themes>

    <app-footer></app-footer>
  </div>
  <div class="app-canvas">
    <app-canvas
      [isLoading]="isLoading"
      [imageUrl]="imageUrl"
      [errorMessage]="errorMessage"
    ></app-canvas>
  </div>
</div>
