.container {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    justify-content: center; /* Horizontally centers items */
    align-items: center; /* Vertically centers items */
}

.app-header {
    background-color:#f4f5f6;
    min-height: 40rem;
    width: 30%;
    height: 100%;
    text-align: center; 
    margin: 0;
    padding: 1rem;
    color: rgb(164, 157, 145);
    font-family: 'IBM Plex Mono', monospace;
    overflow-y: scroll;
}


.app-canvas {
    background-color:#f4f5f6;
    min-height: 40rem;
    width: 70%;
    height: 100%;
    text-align: center; 
    margin: 0;
    padding: 1rem;
    color: rgb(164, 157, 145);
    font-family: 'IBM Plex Mono', monospace;
    overflow-y: scroll;
}

.app-logo {
    text-align: center;
    padding: 2rem 1rem 0;
  }
h1,
h4 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  
  h4 {
    margin-top: 1em;
  }


.right{
    width: 70%;
    height: 100%;
}