<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell *matCellDef="let element">{{ element.year }}</td>
  </ng-container>

  <!-- Count Column -->
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Total Activity</th>
    <td mat-cell *matCellDef="let element">{{ element.count }}</td>
  </ng-container>

  <!-- Distance Column -->
  <ng-container matColumnDef="totalEffort">
    <th mat-header-cell *matHeaderCellDef>
      {{
        dataSource[0].distance !== undefined ? "Total Distance" : "Total Time"
      }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{
        element?.distance !== undefined
          ? (element.distance / 1000 | number : "1.0-0") + " km"
          : ""
      }}
      {{
        element?.moving_time !== undefined
          ? (element.moving_time / 60 | number : "1.0-0") + " min"
          : ""
      }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
