<ng-container *ngIf="isLoading; else loadedContent">
  <div class="loading-container">
    <img
      class="holdup-gif"
      alt="Loading..."
      src="../../../assets/loading.gif"
    />
  </div>
</ng-container>

<ng-template #loadedContent>
  <div *ngIf="errorMessage">Error: {{ errorMessage }}</div>
  <div class="app-canvas" *ngIf="imageUrl">
    <div *ngIf="sportType" class="app-buttons">
      Share your amazing {{ sportType }} journey!
    </div>
    <div class="app-buttons">
      <button class="app-download-button" type="button" (click)="copyImage()">
        <mat-icon>file_copy</mat-icon>

        Copy
      </button>
      <button
        class="app-download-button"
        type="button"
        (click)="donwloadImage()"
      >
        <mat-icon>cloud_download</mat-icon>

        Download
      </button>
    </div>

    <div>
      <img class="calendar-image" *ngIf="imageUrl" [src]="imageUrl" />
    </div>
  </div>
</ng-template>
