.app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .app-buttons button{
    margin-right: 4vw;

  }

.app-download-button {
    min-height: 2.6rem;
    min-width: 6.5rem;
    padding: 0 1.5rem;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #fc4c02;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    border: None;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'IBM Plex Mono', monospace
  }
  .app-download-button:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1), 0 5px 15px 0 rgba(0,0,0,0.1);
    opacity: 100%;
  }

  .app-icon {
    width: 20px;
    height: 20px;
  }

  .calendar-image {
    width: 80%;
    height:80%;
  }